.bold {
  font-weight: bold; }

body {
  background: #f3f3f3; }

.preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%; }
  .preloader-wrapper.big {
    margin-top: -32px;
    margin-left: -32px; }

.header {
  background: #fff;
  padding: 5px 10px;
  padding-top: 20px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 10px; }
  .header .logotipo {
    font-size: 1.4em;
    line-height: 30px;
    height: 30px; }

@media (min-width: 600px) {
  #toast-container {
    top: auto !important;
    right: 4% !important;
    bottom: 6%; } }

.livro-item {
  margin: 5px 0; }
  .livro-item > .livro-item-container {
    background: #fff;
    border: 1px solid #e9e9e9;
    padding-bottom: 15px; }
    .livro-item > .livro-item-container > .livro-item-content {
      padding: 10px 15px; }
      .livro-item > .livro-item-container > .livro-item-content .livro-nome {
        line-height: 1.2em;
        margin-bottom: 10px;
        min-height: 37px; }
      .livro-item > .livro-item-container > .livro-item-content .livro-preco {
        font-size: 1.2em; }
      .livro-item > .livro-item-container > .livro-item-content .livro-more {
        transition: 250ms all ease-in-out; }
        .livro-item > .livro-item-container > .livro-item-content .livro-more:hover {
          filter: brightness(150%); }
    .livro-item > .livro-item-container .cart-add {
      padding: 0 10px; }
      .livro-item > .livro-item-container .cart-add > .btn {
        width: 100%;
        font-size: 0.8em; }

.header .cart-link {
  position: absolute;
  right: 0;
  padding-right: 15px; }

.livro-preco-modal {
  color: #00bcd4;
  font-size: 1.5em;
  padding: 10px; }

@media (max-width: 600px) {
  .header .cart-link {
    position: static;
    display: block;
    margin-top: 10px; } }

.header .back-link {
  position: absolute;
  left: 0;
  padding-left: 15px; }

.cart-list {
  background: #fff;
  padding: 10px 25px;
  border: 1px solid #e9e9e9; }
  .cart-list th {
    color: #00bcd4; }
  .cart-list tr {
    border-bottom: 1px solid #e9e9e9; }
